
.header {
    background-color: #1F2937;
    padding: 15px 50px;
    color: #F9FAF7;
    font-family: Roboto, sans-serif;
}


.nav {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.links {
    margin-left: auto;
    display: flex;
    gap: 15px;
}

.links a {
    color: #F9FAF7;
    text-decoration: none;
}


.hero {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.hero-text {
    max-width: 500px;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero-text p {
    margin-bottom: 15px;
}

.hero-image {
    margin-left: auto;
    max-width: 300px;
}

.hero button{
    background-color: #3882F6;
    color: #F9FAF7;
    border-radius: 25%;
    padding: 8px;

}

.information{
    display: flex;
    align-items: center;
    margin-top: 5px;
    flex-direction: column;
    margin-bottom: 5px;
}
.information-heading p{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.illustration{
    display: flex;
    gap: 20px;
}

.illustration-box{
    border-radius: 25%;
    width: 150px;
    height: 150px;
    border: 5px solid;
    border-color: #3882F6;
    display: flex;
    flex-direction: column;
}


.box-content{
    display: flex;
    flex-direction: column;
    align-items: center;

}
